{% extends 'base.html.twig' %}

{% block title %}
    {% if is_granted('ROLE_USER') %}
    Entreprises
    {% endif %}
{% endblock %}

{% block body %}
    {% if is_granted('ROLE_USER') %}
    <h1>Entreprises</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for company in companies %}
            {% for trainings in company.training %}
                {% if app.user.training.name == trainings.name %}
                <tr>
                    <td>{{ company.name }}</td>
                    <td>
                        <em>{{ company.description }}</em>
                    </td>
                    <td>
                        <a href="{{ path('company_details', {'id': company.id}) }}">détails</a>
                        {% if is_granted('ROLE_ADMIN') %}
                        <a href="{{ path('company_edit', {'id': company.id}) }}">éditer</a>
                        {% endif %}
                        </td>
                    </tr>
                {% else %}
                <tr style="opacity:0.5">
                    <td>{{ company.name }}</td>
                    <td>
                        <em>{{ company.description }}</em>
                    </td>
                    <td>
                        <a href="{{ path('company_details', {'id': company.id}) }}">détails</a>
                        {% if is_granted('ROLE_ADMIN') %}
                        <a href="{{ path('company_edit', {'id': company.id}) }}">éditer</a>
                        {% endif %}
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
    {% else %}
            <tr>
                <td colspan="4">aucune entreprise</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('company_new') }}">Ajouter</a>
        {% endif %}
    {% endif %}
{% endblock %}
